<table  class="table table-striped">
  <tr ng-repeat="item in list.matched">
    <td style="background-color:#337ab7; border:5px solid white; text-align:center; color: white">
        {{ item.short_name}}
    </td>
    <td>
        <h5>{{ item.name| uppercase}}</h5>
    </td>
    <td>{{item.description}}</td>
    <td> <button class="btn btn-primary" ng-click="list.onRemove({index: $index});">Remove Item!</button></td>
</tr>
<tr>
  <!-- <td style="background-color:#dc3545; text-align:center; color: white" ng-show="list.IsEmpty()"><h4>Nothing found!</h4> </td> -->
  <td class="bg-danger text-danger text-center" ng-show="list.IsEmpty()"><h4>Nothing found!</h4> </td>
</tr>
</table>
