<table  class="table table-striped">
  <tr>
  <td colspan="4" class="bg-info text-center text-white" ng-hide="list.IsEmpty()"><h4>{{list.title}}</h4></td>
  </tr>
  <tr ng-repeat="item in list.matched">
    <td style="background-color:#337ab7; border:2px solid white; text-align:center; color: white">
        {{ item.short_name}}
    </td>
    <td>
        <h5>{{ item.name| uppercase}}</h5>
    </td>
    <td>{{item.description}}</td>
    <td> <button class="btn btn-primary" ng-click="list.onRemove({index: $index});">Remove Item!</button></td>
</tr>
<tr>
  <td class="bg-danger text-danger text-center" ng-show="list.IsEmpty()"><h4>Nothing found!</h4> </td>
</tr>
</table>
